<h1 style="margin-bottom:0px; color:red">Edit iptal </h1>
<h1 style="margin-bottom:0px; color:red">                               </h1>
<a href="/Home/Index" style="color:#e68a06;  margin-top:20px; margin-left:200px;">Ana Sayfaya Dönmek için Tıklayınız</a>
