<h1 style="margin-bottom:0px; color:red">                Bu satırı şuanda başka bir kullanıcı güncelliyor.             </h1>
<h1 style="margin-bottom:0px; color:red">                        Lütfen daha sonra tekrar deneyiniz.             </h1>



<a href="/Home/Index" style="color:#e68a06;  margin-top:20px; margin-left:200px;">Ana Sayfaya Dönmek için Tıklayınız</a>




<a href="/Home/DisplayData" style="color:#e68a06;  margin-top:30px; margin-left:200px;">Tabloya dönmek için tıklayınız</a>