<h1 style="margin-bottom:0px; color:red">Görüntülemek için lütfen Ay/Yıl Kodu ve Uygulma Adı Seçiniz </h1>
<a href="/Home/Index" style="color:#e68a06;  margin-top:20px; margin-left:200px;">Seçim ekranına gitmek için tıklayınız</a>
