<h1 style="margin-bottom:0px; color:#e68a06;  margin-left:500px"> Yardım Sayfası</h1>


<h3 style=" color:#e68a06">Ana sayfa</h3>


<h4 style=" color:#FCB000">Yeni Paket Oluşturma</h4>


<p>
    Yeni Paket eklemek için sol üstte bulunan "Yeni Paket" yazısına tıklayınız. Yeni Paket oluşturma ekranına yönlendirildikten sonra karşınıza çıkan 'Uygulama Adı' ve 'Ay/Yıl Kodu' bilgilerini ve eğer isterseniz 'Versiyon' bilgisini giriniz. 'Ay/Yıl Kodu' bilgisi eklenmek istenilen ayın kaçıncı ay olduğu ve yılın son iki rakamı boşluksuz bir şekilde yazılarak girilmelidir. (Örneğin Ocak 2023 için 123 yazılmalıdır.)
    Girilmek istenilen bilgiler girildikten sonra "Kaydet"'e basınız.
</p>

<h4 style=" color:#FCB000">Ay/Yıl ve Uygulama Adına göre store takip tablosu görüntüleme</h4>

<p>Daha önceden oluşturulmuş bir paketi ay/yıl kodu ve Uygulama bazlı görüntülemek için açılır listeden istediğiniz bilgileri seçiniz. Seçilen paketi görüntülek için "Görüntüle"'ye basınız.</p>

<h3 style=" color:#e68a06">Görüntülenen Tabloda İşlemler</h3>

<h4 style=" color:#FCB000">Yeni satır ekleme, satır düzenleme ve silme işlemleri</h4>

<p>
    Görüntülenen tabloya yeni bir satır eklemek için solda bulunan "Yeni satır ekle" 'ye basınız.
    Görüntülenen ekranda girmek istediğiniz bilgileri uygun yerlere yazdıktan sonra "Kaydet" 'e basınız.
</p>

<p>
    Görüntülenen tabloya var olan bir satırı düzenlemek/değişiklik yapmak için sağda bulunan "Düzenle" 'ye basınız.
    Görüntülenen ekranda değiştirtmek veya eklemek  istediğiniz bilgileri uygun yerlere yazdıktan sonra "Kaydet" 'e basınız. Eğer değişiklikleri kaydetmeden geri gitmek istiyorsanız "İptal" ' e basınız.
</p>

<p>
    Görüntülenen tabloya var olan bir satırı silmek için sağda bulunan "Sil" 'e basınız.
    Karşınıza çıkan ekranda eğer silme işlemine devam etmek istiyorsanız "Evet"'e eğer silme işleminden vazgeçtiyseniz "Hayır"a basınız.
</p>

<h4 style=" color:#FCB000">Arama işlemi</h4>

<p>
    Görüntülenen tabloda arama yapmak için sol üstte bulunan "Arama" yerine aramak istediğiniz kelimeyi yazınız. "Ara"'ya basarak istediğiniz kelimeyi içeren satırları görüntüleyebilirsiniz. Arama sonuçlarını temizlek için "Arama Sonuçlarını Temizle"'ye basınız.
</p>

<h4 style=" color:#FCB000">İndirme İşlemi</h4>

<p>Görüntülenen tabloyu 'excel dosyası' olarak indirmek için sayfanın altında bulunan "İndir" 'e tıklanyınız. İndirilen excel dosyasını indirilenlerde bulabilirsiniz.</p>