@*@model twotableversion.Models.UygulamalarModel
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

<h2>başlık </h2>

@if (TempData["SaveStatus"] != null)
{
    int status = Convert.ToInt32(TempData["SaveStatus"]);
    if (status == 1)
    {
        <span class="alert alert-success">Data saved successfully!</span>
    }
}

@using (Html.BeginForm("Save", "Home", FormMethod.Post))
{

    <div class="form-group">
        <label for="UygulamaAdı">Uygulama Adı:</label>
        @Html.TextBoxFor(m => m.UygulamaAdı, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="TakvimId">Takvim Id:</label>
        @Html.TextBoxFor(m => m.TakvimId, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="SenaryoID">UI/API Senaryo ID:</label>
        @Html.TextBoxFor(m => m.SenaryoID, new { @class = "form-control" })
    </div>
    

    <button type="submit" class="btn btn-primary" style="background-color: #FFCA4F; color: white; margin-top:0px margin-left:0px">Save</button>
}



*@