@model twotableversion.Models.UygulamalarModel


<h2>başlık </h2>

<input type="hidden" asp-for="RowVersion" />


@if (TempData["SaveStatus"] != null)
{
    int status = Convert.ToInt32(TempData["SaveStatus"]);
    if (status == 1)
    {
        <span class="alert alert-success">Data saved successfully!</span>
    }
}




@using (Html.BeginForm("SaveTakvim", "Home", FormMethod.Post))
{ 

    <div class="form-group">
        <label for="UygulamaAdı">Uygulama Adı:</label>
        @Html.TextBoxFor(m => m.UygulamaAdı, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="TakvimId">Takvim Id:</label>
        @Html.TextBoxFor(m => m.TakvimId, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="version">Version:</label>
        @Html.TextBoxFor(m => m.version, new { @class = "form-control" })
    </div>
    

    <button type="submit" class="btn btn-primary" style="background-color: #FFCA4F; color: white; margin-top:0px ;margin-left:0px">Save</button>
   
}



