@model twotableversion.Models.UygulamalarModel


<h2>Yeni Paket </h2>

<input type="hidden" asp-for="RowVersion" />


@if (TempData["SaveStatus"] != null)
{
    int status = Convert.ToInt32(TempData["SaveStatus"]);
    if (status == 1)
    {
        <span class="alert alert-success">Data saved successfully!</span>
    }
}




@using (Html.BeginForm("SaveTakvim", "Home", FormMethod.Post))
{

    <div class="form-group">
        <label for="UygulamaAdı">Uygulama Adı:</label>
        @Html.TextBoxFor(m => m.UygulamaAdı, new { @class = "form-control", id = "uygulamaAdiInput" })
    </div>

    <div class="form-group">
        <label for="TakvimId">Ay/Yıl Kodu:</label>
        @Html.TextBoxFor(m => m.TakvimId, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="version">Versiyon:</label>
        @Html.TextBoxFor(m => m.version, new { @class = "form-control" })
    </div>


    <button type="submit" class="btn btn-primary" style="background-color: #FFCA4F; color: white; margin-top:0px ;margin-left:0px">Kaydet</button>
   
}



<script>
    document.addEventListener('DOMContentLoaded', function () {
        var uygulamaAdiInput = document.getElementById('uygulamaAdiInput');

        uygulamaAdiInput.addEventListener('blur', function () {
            var inputValue = uygulamaAdiInput.value;

            // Split the input value into words
            var words = inputValue.split(' ');

            // Capitalize the first letter of each word
            for (var i = 0; i < words.length; i++) {
                if (words[i].length > 0) {
                    // Check for the special case "EDH" and capitalize it
                    if (i === 0 && words[i].toUpperCase() === 'EDH') {
                        words[i] = 'EDH';
                    } else {
                        words[i] = words[i].charAt(0).toUpperCase() + words[i].slice(1);
                    }
                }
            }

            // Join the words back together and set as the input's value
            uygulamaAdiInput.value = words.join(' ');
        });
    });
</script>